.section-accordian {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 700px;
}

.section-accordian li {
  background: #f6f6f6;
  padding: 18px 20px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.section-accordian li p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.section-accordian li p:last-child {
  color: #333;
}
